@use "abstracts" as *;

.dialog {
    width: calc(100% - 16px);
    max-width: 1212px;
    height: 100dvh;
    padding: 0;
    border: none;
    border-radius: $radius-card;
    overflow: auto;

    @include breakpoint(lg) {
        max-height: 594px;
    }

    &#task-form-dialog {
       padding-inline: 16px;
       padding-bottom: 20px;

        @include breakpoint(lg) {
            max-height: 768px;
            padding-left: 74px;
            padding-right: 65px;
        }
    }

    &#task-detail-dialog {
        @include breakpoint(lg) {
            height: fit-content;
            max-height: 864px;
        }
    }
}