@use "abstracts" as *;

.dialog {
    display: block!important;
    width: 100%;
    // max-height: calc(100% - 166px);
    height: 100dvh;
    padding: 0;
    border: none;
    border-radius: $radius-card;
    overflow: auto;
}