@use "abstracts" as *;

.dialog {
    display: block!important;
    width: 100%;
    max-width: 1212px;
    height: 100dvh;
    padding: 0;
    border: none;
    border-radius: $radius-card;
    overflow: auto;

    @include breakpoint(lg) {
        max-height: 594px;
    }
}