@use 'abstracts' as *;

:host {
    display: block;
}

main {
    margin-top: 0;
    padding-block: $header-height-mobile $footer-height-mobile;
    min-height: 100vh;
    min-height: 100dvh;

    &.is-locked {
        height: 100vh;
        height: 100dvh;
        min-height: 0;
        overflow: hidden;
    }

    @include breakpoint(lg) {
        max-width: 1440px;
        padding-bottom: 0;
        padding-left: 232px;
        padding-right: 16px;
    }
}
