@use 'abstracts' as *;

.help {
    ul {
        padding-top: 16px;
        list-style-position: inside;
        padding-bottom: 16px;
    }

    li {
        padding-left: 10px;
    }

    &__arrowback {
        position: absolute;
        top: 120px;
        right: 16px;
    }

    &__headline {
        padding-bottom: 32px;
        padding-top: 48px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__whatis {
        h3 {
            padding-bottom: 16px;
        }
    }

    &__p16px {
        padding-bottom: 16px;
    }

    &__mobilenone {
        display: none;
    }
    .padding16px {
        padding-top: 16px;
    }

    &__howto-details {
        display: flex;
        gap: 32px;
    }

    &__detail-title {
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
    }

    @include breakpoint(md) {
        padding-left: 96px;
        padding-right: 96px;

        &__headline {
            padding-top: 110px;
        }

        h1 {
            font-size: $font-size-3xl;
        }
    }
}
