<div
    class="login"
    uiCard
    [variant]="'lg'"
>
    <h1 class="login__headline">Log in</h1>

    <form
        (ngSubmit)="onSubmit()"
        [formGroup]="logInForm"
        class="login__form"
    >
        <div class="login__input">
            <ui-input
                formControlName="email"
                label="Email"
                name="email"
                type="email"
                [labelVisible]="false"
                [isRequired]="true"
                [errorMessage]="emailError()"
            >
                <ui-icon
                    name="mail"
                    class="login__icon"
                    [width]="24"
                    [height]="24"
                />
            </ui-input>
        </div>
        <div class="login__input">
            <ui-input
                formControlName="password"
                label="Password"
                name="password"
                [type]="showPassword() == true ? 'text' : 'password'"
                [labelVisible]="false"
                [isRequired]="true"
                [errorMessage]="passwordError()"
            >
                <ui-icon
                    [name]="showPassword() == true ? 'password-hidden' : 'password-visible'"
                    class="login__icon"
                    [width]="24"
                    [height]="24"
                    (click)="togglePassword()"
                />
            </ui-input>
        </div>
        @if (error()) {
            <p
                class="login__error"
                role="alert"
            >
                Login Failed! Please check your Password or Email.
            </p>
        }

        <div class="login__actions">
            <button
                type="submit"
                class="button button--primary"
                [disabled]="loading()"
            >
                Log in
            </button>

            <button
                class="button button--outlined"
                type="button"
                [disabled]="loading()"
                (click)="continueAsGuest()"
            >
                Guest Log in
            </button>
        </div>
    </form>
</div>
