@use "abstracts" as *;

.login {
    max-width: 652px;
    margin-inline: auto;

    &__headline {
        margin-bottom: 32px;
        text-align: center;
        @include divider($sizeMobile: 88px, $sizeDesktop: 150px)
    }

    &__actions {
        margin-top: 32px;
        @include flex($wrap: wrap, $justify: center, $gap: 20px);
    
        @include breakpoint(xs) {
            gap: 20px;
        }
        @include breakpoint(lg) {
            gap: 32px;
        }
    }

    &__input{
        position: relative;
    }

    &__icon{
        margin-left: auto;
        position: absolute;
        right: 120px;
        top: 13px;

        @include breakpoint(xs) {
            right: 25px;
        }       
    }

    &__error{
        color: red;

        @include breakpoint(sm) {
            padding: 0 20px;
            text-align: left;
        }
        @include breakpoint(md) {
            padding: 0;
            text-align: center;
        }
    }
}
