@use "abstracts" as *;

.login {
    max-width: 652px;
    margin-inline: auto;

    &__headline {
        margin-bottom: 32px;
        text-align: center;
        @include divider($sizeMobile: 88px, $sizeDesktop: 150px)
    }

    &__actions {
        margin-top: 32px;
        @include flex($wrap: wrap, $justify: center, $gap: 20px);
    
        @include breakpoint(lg) {
            gap: 32px;
        }
    }

    &__input{
        position: relative;
    }

    &__icon{
        position: absolute;
        right: 120px;
        top: 13px;

            
        @include breakpoint(lg) {
            right: 25px;
        }
    }

    &__error{
        color: red;
    }
}
