<section
    class="summary"
    [class.summary--intro]="introActive()"
>
    <header class="summary__header">
        <h1 class="summary__title">Join 360</h1>
        <p class="summary__subtitle">Key Metrics at a Glance</p>
    </header>

    <div class="summary__body">
        <ul class="summary__metrics">
            <li class="summary__metric summary__metric--wide">
                <a
                    class="summary__card summary__card--deadline"
                    [routerLink]="boardLink"
                >
                    <span class="summary__priority">
                        <span class="summary__badge summary__badge--urgent">
                            <ui-icon
                                name="badge-urgent"
                                [width]="{ base: 24, md: 30 }"
                                [height]="{ base: 18, md: 22 }"
                            />
                        </span>

                        <span class="summary__figure">
                            <span class="summary__value">{{ urgentCount() }}</span>
                            <span class="summary__label">Urgent</span>
                        </span>
                    </span>

                    <span class="summary__deadline">
                        <span class="summary__deadline-date">{{ upcomingDeadline() | date: 'longDate' }}</span>
                        <span class="summary__deadline-label">Upcoming Deadline</span>
                    </span>
                </a>
            </li>

            <li class="summary__metric summary__metric--wide">
                <a
                    class="summary__card"
                    [routerLink]="boardLink"
                >
                    <span class="summary__badge summary__badge--dark">
                        <ui-icon
                            name="nav-add-task"
                            [width]="{ base: 22, md: 28 }"
                            [height]="{ base: 22, md: 28 }"
                        />
                    </span>

                    <span class="summary__figure">
                        <span class="summary__value">{{ toDoCount() }}</span>
                        <span class="summary__label">To-do</span>
                    </span>
                </a>
            </li>

            <li class="summary__metric summary__metric--half">
                <a
                    class="summary__card"
                    [routerLink]="boardLink"
                >
                    <span class="summary__figure">
                        <span class="summary__value">{{ boardCount() }}</span>
                        <span class="summary__label">Tasks in Board</span>
                    </span>
                </a>
            </li>

            <li class="summary__metric summary__metric--half">
                <a
                    class="summary__card"
                    [routerLink]="boardLink"
                >
                    <span class="summary__figure">
                        <span class="summary__value">{{ inProgressCount() }}</span>
                        <span class="summary__label">Tasks In Progress</span>
                    </span>
                </a>
            </li>

            <li class="summary__metric summary__metric--half">
                <a
                    class="summary__card"
                    [routerLink]="boardLink"
                >
                    <span class="summary__figure">
                        <span class="summary__value">{{ awaitFeedbackCount() }}</span>
                        <span class="summary__label">Awaiting Feedback</span>
                    </span>
                </a>
            </li>

            <li class="summary__metric summary__metric--half">
                <a
                    class="summary__card"
                    [routerLink]="boardLink"
                >
                    <span class="summary__badge summary__badge--dark">
                        <ui-icon
                            name="check-solid"
                            [width]="{ base: 22, md: 28 }"
                            [height]="{ base: 16, md: 20 }"
                        />
                    </span>

                    <span class="summary__figure">
                        <span class="summary__value">{{ doneCount() }}</span>
                        <span class="summary__label">Done</span>
                    </span>
                </a>
            </li>
        </ul>

        <p class="summary__greeting">
            @if (isGuest()) {
                {{ greeting }}!
            } @else {
                {{ greeting }},
                <strong class="summary__greeting-name">{{ displayName() }}</strong>
            }
        </p>
    </div>
</section>
