@use "abstracts" as *;

.summary {
    
    &__welcome-msg {
        @include flex($type: flex, $items: center, $justify: center);
        padding: 24px;
        position: relative;
        z-index: 1;
        height: 86vh;
        color: var(--color-black);
        animation: slideUp 0.9s ease-in-out 3s forwards;
    }

    @keyframes slideUp{
        100% {
            transform: translateY(-26vh);
        }

    }

    @keyframes slideUpSummary{
        100% {
            transform: translateY(-80vh);
        }

    }

    &__greet {
        text-align: center;
        font-weight: 400;
        font-size: 36px;
    }

    &__greet-user {
        font-weight: 700;
        font-size: 48px;
        color: #29ABE2;
    }

    background-color: var(--color-body-background);
    color: white;
    position: relative;
    z-index: 2;
    animation: slideUpSummary 0.8s ease-in-out 3s forwards;
    
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 396px;
        height: 150px;
        border-radius: 30px;
        background-color: var(--color-surface-inverted);
        color: var(--color-white);
    }
    &__wrapper-left {
        width: 120px;
        height: 98px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        @include divider($position: right, $sizeMobile: 102px);
        &:after {
            background-color: var(--color-surface);  
        }
    }



    &__status-number {
        display: flex;
        gap: 8px;
    }

    &__status-symbol {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: (var(--color-ui-warning));
    }
    &__status {
        position: relative;
        top: 19px;
        left: 19px;
    }
    &__amount {
        font-weight: $font-weight-bold;
        font-size: 40px;
        color: white;
    }

    &__wrapper-right {
        width: 192px;
        height: 48px;
        margin: 16px;
    }

    &__deadline {
        font-weight: $font-weight-bold;
        font-size: 24px;
    }

    &__to-do {
        @include flex($type:flex, $justify: center, $items: center, $gap: 20px);
        width: 396px;
        height: 106px;
        margin: 24px 0px;
        border-radius: 30px;
        background-color: var(--color-surface-inverted);

        &-symbol {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: (var(--color-ui-warning));
        }

        &-icon {
            position: relative;
            top: 15px;
            left: 19px;
        }
    }

    &__task-squares1 {
        display: flex;
        gap: 15px;
    }

    
    &__task-squares2 {
        display: flex;
        gap: 15px;
    }

    &__board-task {
            @include flex($type:flex, $justify: center, $items: center, $direction: column, $gap: 8px);
        width: 186px;
        height: 152px;
        border-radius: 30px;
        background-color: var(--color-surface-inverted);
        margin-bottom: 24px;

    }

    &__bts {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__board-task-symbol {
        display: flex;
        gap: 8px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: (var(--color-ui-warning));
    }

    &__board-task-icon {
        position: relative;
        top: 20px;
        left: 18px;
    }

    &__task-type {
        width: 100px;
        font-weight: $font-weight-regular;
    }
}

 