<div class="summary">
    <div class="summary__wrapper">
        <div class="summary__wrapper-left">
            <div class="summary__status-number">
                <div class="summary__status-symbol">
                    <ui-icon
                        name="badge-low"
                        class="summary__status"
                    ></ui-icon>
                </div>
                <div>
                    <p class="summary__amount">{{ taskAmount }}</p>
                </div>
            </div>
            <div class="summary__urgent">
                <p class="summary__task-type">Tasks Urgent</p>
            </div>
        </div>

        <div class="summary__wrapper-right">
            <p class="summary__deadline">PH October 16, 2022</p>
            <p>Upcoming Deadline</p>
        </div>
    </div>

    <div class="summary__to-do">
        <div class="summary__to-do-symbol">
            <ui-icon
                name="nav-add-task"
                class="summary__to-do-icon"
            ></ui-icon>
        </div>
        <div>
            <p class="summary__amount">1</p>
        </div>
        <div class="summary__task-to-do">
            <p class="summary__task-type">Tasks To-Do</p>
        </div>
    </div>

    <!-- copy pasted the first div change the class names -->
    <div class="summary__task-squares1">
        <div class="summary__board-task">
            <div class="summary__bts">
                <div class="summary__board-task-symbol">
                    <ui-icon
                        name="nav-board"
                        class="summary__board-task-icon"
                    ></ui-icon>
                </div>
                <div>
                    <p class="summary__amount">1</p>
                </div>
            </div>

            <div>
                <p class="summary__task-type">Tasks on Board</p>
            </div>
        </div>

        <div class="summary__board-task">
            <div class="summary__bts">
                <div class="summary__board-task-symbol">
                    <ui-icon
                        name="nav-board"
                        class="summary__board-task-icon"
                    ></ui-icon>
                </div>
                <div>
                    <p class="summary__amount">1</p>
                </div>
            </div>

            <div>
                <p class="summary__task-type">Tasks in Progress</p>
            </div>
        </div>
    </div>

    <div class="summary__task-squares2">
        <div class="summary__board-task">
            <div class="summary__bts">
                <div class="summary__board-task-symbol">
                    <ui-icon
                        name="nav-board"
                        class="summary__board-task-icon"
                    ></ui-icon>
                </div>
                <div>
                    <p class="summary__amount">1</p>
                </div>
            </div>

            <div>
                <p class="summary__task-type">Tasks on Board</p>
            </div>
        </div>

        <div class="summary__board-task">
            <div class="summary__bts">
                <div class="summary__board-task-symbol">
                    <ui-icon
                        name="nav-board"
                        class="summary__board-task-icon"
                    ></ui-icon>
                </div>
                <div>
                    <p class="summary__amount">1</p>
                </div>
            </div>

            <div>
                <p class="summary__task-type">Tasks in Progress</p>
            </div>
        </div>
    </div>
</div>
