@if (isOpen()) {
    <ui-dialog
        [open]="isOpen()"
        (close)="close()"
    >
        <div class="contact-form">
            <div class="contact-form__header">
                <button
                    (click)="close()"
                    class="contact-form__close-btn button"
                >
                    <ui-icon
                        name="close"
                        [width]="13"
                        [height]="13"
                    />
                </button>

                <div class="contact-form__logo">
                    <ui-logo [variant]="'light'" />
                </div>

                <h2 class="contact-form__title">
                    @if (formType() === 'add') {
                        Add contact

                        <span class="contact-form__subtitle"> Tasks are better with a team! </span>
                    } @else {
                        Edit contact
                    }
                </h2>
            </div>

            <div class="contact-form__body">
                <div class="contact-form__avatar">
                    @if (hasName()) {
                        <ui-initial-letter
                            [name]="displayName()"
                            size="xl"
                        />
                    } @else {
                        <div class="contact-form__placeholder">
                            <ui-icon
                                [name]="'person'"
                                [width]="64"
                                [height]="64"
                            />
                        </div>
                    }
                </div>

                <div class="contact-form__form">
                    <form
                        [formGroup]="contactForm"
                        (ngSubmit)="onSubmit()"
                        class="form"
                    >
                        <div>
                            <ui-input
                                formControlName="name"
                                label="Name"
                                name="name"
                                [labelVisible]="false"
                                [isRequired]="true"
                                [errorMessage]="nameError()"
                            />
                        </div>

                        <div>
                            <ui-input
                                formControlName="email"
                                label="Email"
                                name="email"
                                type="email"
                                [labelVisible]="false"
                                [isRequired]="true"
                                [errorMessage]="emailError()"
                            />
                        </div>

                        <div>
                            <ui-input
                                formControlName="phone"
                                label="Phone"
                                name="phone"
                                type="tel"
                                [labelVisible]="false"
                                [isRequired]="true"
                                [errorMessage]="phoneError()"
                            />
                        </div>

                        @if (error()) {
                            <p class="contact-form__error">{{ error() }}</p>
                        }

                        <div class="contact-form__actions">
                            @if (formType() === 'add') {
                                <ui-button
                                    [variant]="'outlined'"
                                    (click)="close()"
                                    >Cancel</ui-button
                                >
                                <ui-button [type]="'submit'">Create contact</ui-button>
                            } @else {
                                <ui-button
                                    [variant]="'outlined'"
                                    (click)="onDelete()"
                                    >Delete</ui-button
                                >
                                <ui-button [type]="'submit'">Save</ui-button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ui-dialog>
}
