@use '../../../../../styles/abstracts/tokens' as *;

.item {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    &__initialwrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--color-white);
        width: 42px;
        height: 42px;
        margin: 15px 0px 21px 24px;
    }

    &__initial {
        border-width: 2px solid var(--color-white);
    }

    &__mail {
        color: var(--palette-cyan-500);
    }
}
