@use 'abstracts' as *;

.contact {
    padding-block: 15px;
    @include flex($items: center, $wrap: nowrap);

    &--compact {
        padding-block: 8px;

        .contact {
            &__wrapper {
                margin-left: 8px;
            }

            &__name {
                font-size: $font-size-xs;

                @include breakpoint(lg) {
                    font-size: $font-size-sm;
                }
            }
        }
    }

    &__wrapper {
        margin-left: 32px;
        min-width: 0;   
        flex: 1;        
        overflow: hidden; 
    }

    &__name {
        display: block;
        color: var(--color-text);
        font-size: $font-size-sm;
        font-weight: $font-weight-regular;
        line-height: $line-height-tight;
        white-space: nowrap;     
        overflow: hidden;        
        text-overflow: ellipsis; 
    }

    &__mail {
        display: block;          
        color: var(--color-accent);
        white-space: nowrap;     
        overflow: hidden;        
        text-overflow: ellipsis; 
    }
}