@use "abstracts" as *;

.contact {
    padding-block: 15px;
    @include flex($items: center);
    
    &--compact {
        padding-block: 8px;

        .contact {
            &__wrapper {
                margin-left: 16px;
            }

            &__name {
                font-size: $font-size-xs;
                
                @include breakpoint(lg) {
                    font-size: $font-size-sm;
                }
            }
        }
        
    }

    &__wrapper {
        margin-left: 32px;
    }
    
    &__name {
        display: block;
        color: var(--color-text);
        font-size: $font-size-sm;
        font-weight: $font-weight-regular;
        line-height: $line-height-tight;
    }
}