<section class="contactlist">
    <ui-button
        class="contactlist__btn"
        [type]="'button'"
        [variant]="'primary'"
        (click)="continueToContact()"
    >
        Add new contact <img src="icon/person_add.png" />
    </ui-button>
    <ul>
        @for (contact of sortedContacts(); track $index) {
            @if (
                $index === 0 ||
                contact.name.trim().charAt(0).toUpperCase() !==
                    sortedContacts()[$index - 1].name.trim().charAt(0).toUpperCase()
            ) {
                <li class="contactlist__letter">
                    {{ contact.name.trim().charAt(0).toUpperCase() }}
                </li>
            }

            <li>
                <list-item
                    (click)="getcard($index)"
                    [name]="contact.name"
                    [mail]="contact.mail"
                />
            </li>
        }
    </ul>

    <button
        class="contactlist__btnround"
        type="button"
        (click)="continueToContact()"
    >
        <img src="icon/person_add.png" />
    </button>
</section>
