@use 'abstracts' as *;

.contact-list {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - $header-height-mobile - $footer-height-mobile);
    margin: 0px 24px 0px 24px;
    overflow: auto;

    &__btn {
        padding: 23px 64px 23px 64px;
        display: none;
        img {
            padding-left: 16px;
        }
    }

    @include breakpoint(md) {
        max-width: 400px;
        &__btnround {
            display: none;
        }
        &__btn {
            display: block;
        }
    }

    &__letter {
        padding: 17px 0px 17px 36px;
        margin-bottom: 16px;
        border-bottom: 1px solid rgba(209, 209, 209, 1);
    }

    &__btnround {
        position: absolute;
        width: 56px;
        height: 56px;
        border-radius: 46px;
        border-width: 1px;
        padding: 12px;
        bottom: 140px;
        left: calc(380px + (100vw - 1000px) * 0.2);
        background: rgba(42, 54, 71, 1);
        border: 1px solid rgba(42, 54, 71, 1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}
