@use 'abstracts' as *;

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-surface-inverted);
    box-shadow: var(--shadow-md);
    z-index: $z-index-9;

    @include breakpoint(lg) {
        top: 0;
        right: auto;
        width: 232px;
        @include flex($direction: column, $items: center, $content: center);
    }

    &__wrapper {
        height: $footer-height-mobile;
        padding-inline: 10px;
        @include flex($wrap: nowrap, $items: center, $justify: space-between);

        @media screen and (min-width: 340px) {
            padding-inline: 16px;
        }

        @include breakpoint(lg) {
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            padding-inline: 0;
            padding-block: 64px;
        }

        &--logged-in {
            .footer__nav {
                width: 100%;
            }
        }
    }

    &__logo {
        display: none;

        @include breakpoint(lg) {
            display: block;
            margin-bottom: 114px;
        }
    }

    &__nav {
        @include breakpoint(lg) {
            width: 100%;
        }

        &:has(.footer__legal-list) {
            margin-top: auto;
        }
    }

    &__nav-list {
        width: 100%;
        @include flex($justify: space-between);

        @include breakpoint(lg) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__nav-item {
        text-align: center;

        @include breakpoint(lg) {
            width: 100%;
            @include flex();
        }
    }

    &__nav-link {
        &--active {
            --link-color: var(--color-white);
            background-color: var(--color-surface-inverted-deep);

            @include hoverable() {
                background: var(--color-primary);
            }
        }
    }

    ::ng-deep ui-link {
        @include breakpoint(lg) {
            width: 100%;
        }
    }

    ::ng-deep .footer__nav-link {
        @include flex($direction: column, $items: center, $justify: center);
        min-height: 76px;
        padding-inline: 5px;
        border-radius: 16px;

        @include hoverable() {
            background-color: var(--color-primary-subtle);
        }

        @include breakpoint(lg) {
            flex-direction: row;
            justify-content: flex-start;
            gap: 8px;
            padding-left: 56px;
            border-radius: 0;
        }

        &.footer__nav-link--active {
            --link-color: var(--color-white);
            background-color: var(--color-surface-inverted-deep);
        }
    }

    ::ng-deep .footer__nav-link ui-icon {
        flex-shrink: 0;
    }

    &__nav-label {
        display: block;

        @include breakpoint(lg) {
            display: inline-block;
        }
    }

    &__legal-list {
        @include flex($items: center, $gap: 16px);

        @include breakpoint(lg) {
            margin-top: auto;
            flex-direction: column;
            gap: 4px;
            width: 100%;
            margin-top: auto;
        }
    }
}
