@use 'abstracts' as *;
@use 'sass:map';

.task-card {
    max-width: 252px;

    @include breakpoint(lg){
        cursor: grabbing;
    }

    &__badge {
        display: inline-block;
        color: var(--color-white);
        padding: 4px 16px;
        border-radius: $radius-badge;

        &--user-story {
            background-color: var(--color-badge-user-story);
        }
        &--technical-task {
            background-color: var(--color-badge-technical-task);
        }
    }

    &__header {
        @include flex($direction: column, $gap: 8px);
        margin-block: 24px 20px;
    }

    &__title {
        font-weight: $font-weight-bold;
    }

    &__description {
        color: var(--color-text-muted);

        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        -webkit-line-clamp: 2;

        overflow: hidden;
    }

    &__subtasks {
        @include flex($justify: space-between, $items: center);
        margin-block: 4px 24px;
    }

    &__progessbar {
        width: 110px;
        height: 8px;
        border-radius: $radius-badge;
        background-color: var(--color-task-progress-bar-bg);

        &::before {
            content: '';

            display: inline-block;
            position: absolute;
            width: var(--progess);
            height: 8px;
            border-radius: $radius-badge;
            background-color: var(--color-task-progress-bar);
        }
    }

    &__footer {
        @include flex($justify: space-between, $items: center);
    }

    &__list {
        @include flex($items: center);
    }

    &__list-item {
        &:not(:first-child) {
            margin-left: -8px;
        }
    }
    
    &__counter{
        color: var(--color-text-muted);
        margin-left: 8px;
    }
}