@use 'abstracts' as *;

.register {
    position: relative;
    max-width: 600px;
    margin-inline: auto;

    &__headline {
        margin-bottom: 32px;
        text-align: center;
        @include divider($sizeMobile: 88px, $sizeDesktop: 150px);
    }

    &__arrow-back {
        position: absolute;
        top: 40px;
        left: 12px;
        z-index: $z-index-1;

        @include breakpoint(lg) {
            top: 64px;
            left: 48px;
        }
    }

    &__error {
        margin-top: 8px;
        color: var(--color-ui-red);
        text-align: center;
    }

    &__submit {
        margin-top: 32px;
        @include flex($justify: center);
    }
}
