<ng-template #content>
    <ng-content />
</ng-template>

@if (isExternal()) {
    <a
        [href]="href()"
        [target]="opensInNewTab() ? '_blank' : null"
        [rel]="opensInNewTab() ? 'noopener noreferrer' : null"
        [class]="linkClasses()"
        uiButton
        [variant]="buttonVariant()"
    >
        <ng-container [ngTemplateOutlet]="content" />
    </a>
} @else {
    <a
        [routerLink]="href()"
        [routerLinkActive]="activeClass()"
        [routerLinkActiveOptions]="activeOptions()"
        [class]="linkClasses()"
        uiButton
        [variant]="buttonVariant()"
    >
        <ng-container [ngTemplateOutlet]="content" />
    </a>
}
