<header class="auth-layout__header">auth header</header>

<main class="auth-layout__main">
    <router-outlet />
</main>

<footer class="auth-layout__footer">
    <p>
        Not a Join user?

        <ui-link href="sign-up"> Sign Up </ui-link>
    </p>

    <nav class="auth-footer__navigation">
        <ul class="auth-footer__nav-list">
            @for (navItem of footerNav; track $index) {
                <li class="auth-footer__nav-item">
                    <ui-link
                        [href]="navItem.href"
                        [linkStyle]="navItem.linkStyle"
                    >
                        {{ navItem.label }}
                    </ui-link>
                </li>
            }
        </ul>
    </nav>
</footer>
