@use 'abstracts' as *;

.task-detail {
    padding: 32px 24px;
    @include flex($direction: column, $gap: 16px);

    @include breakpoint(lg) {
        gap: 24px;
        padding: 48px 40px;
    }

    &__header {
        @include flex($justify: space-between, $items: center);
    }

    &__close-btn {
        @include flex($justify: center, $items: center);
        flex-shrink: 0;
        width: 44px;
        height: 44px;
        margin-block: -8px;
        margin-inline-end: -14px;
        padding: 0;
        border: none;
        border-radius: $radius-round;
        background: transparent;
        color: inherit;
        cursor: pointer;
        transition: background-color $transition-default;

        @include hoverable() {
            background-color: var(--color-surface-accent);
        }
    }

    &__badge {
        display: inline-block;
        color: var(--color-white);
        padding: 4px 16px;
        border-radius: $radius-badge;

        @include breakpoint(lg) {
            font-size: $font-size-md;
        }

        &--user-story {
            background-color: var(--color-badge-user-story);
        }

        &--technical-task {
            background-color: var(--color-badge-technical-task);
        }
    }

    &__body {
        @include flex($direction: column, $gap: 16px);

        @include breakpoint(lg) {
            gap: 24px;
        }
    }

    &__title {
        font-size: $font-size-xl;
        @include breakpoint(lg) {
            font-size: $font-size-3xl;
        }
    }

    &__description {
        @include breakpoint(lg) {
            font-size: $font-size-sm;
        }
    }

    &__meta {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 24px;
        row-gap: 16px;

        @include breakpoint(lg) {
            row-gap: 24px;
        }
    }

    &__term {
        color: var(--color-text-tertiary);

        @include breakpoint(lg) {
            font-size: $font-size-sm;
            font-weight: $font-weight-regular;
        }
    }

    &__value {
        @include flex($items: center, $gap: 12px);
        @include breakpoint(lg) {
            font-size: $font-size-sm;
        }
    }

    &__assigned-item {
        padding: 8px 16px;
        @include flex($items: center, $gap: 16px);
    }

    &__subtask-list {
        padding-top: 8px;
        max-height: 156px;
        overflow: hidden;
        overflow-y: auto;
    }

    &__subtasks-item {
        padding: 4px 16px;
        @include flex($gap: 4px);
    }

    &__divider {
        height: 24px;
        border: solid 1px var(--color-border);
    }

    &__actions {
        @include flex($justify: flex-end, $items: center, $gap: 8px);
    }
}
