<section class="legal-notice">
    <ui-link
        linkStyle="muted"
        [href]="'/'"
        class="legal-notice__arrowback"
    >
        <ui-icon
            name="arrow-left"
            [width]="44"
            [height]="40"
        ></ui-icon>
    </ui-link>

    <h1 class="legal-notice__headline">Legal Notice</h1>

    <div class="legal-notice__adress">
        <h3 class="legal-notice__title">Imprint</h3>
        <ol class="legal-notice__adress-list">
            <li class="legal-notice__adress-item">Pascal Weinberg / Calvin Kamp</li>
            <li class="legal-notice__adress-item">Mouna Nitsche / Andre Funk</li>
            <li class="leagal-notice__adress-item">Albert-schweitzer-straße 11</li>
            <li class="leagal-notice__adress-item">22844 Norderstedt</li>
        </ol>
        <h3 class="legal-notice__title">Exploring the Board</h3>
        <p>Email: <ui-link href="mailto:info@info.de">info@info.de</ui-link></p>
    </div>

    <div class="legal-notice__teams">
        <h3 class="legal-notice__title">Acceptance of Terms</h3>
        <p>
            By accessing and using
            <ui-link [href]="'/'">Join</ui-link>
            (Product), you acknowledge and agree to the following terms and conditions, and any policies, guidelines, or
            amendments thereto that may be presented to you from time to time. We, the listed students, may update or
            change the terms and conditions from time to time without notice.
        </p>
    </div>
    <div class="legal-notice__scope">
        <h3 class="legal-notice__title">Scope and Ownership of the Product</h3>
        <p>
            <ui-link [href]="'/'">Join</ui-link> has been developed as part of a student group project in a web
            development bootcamp at the
            <ui-link [href]="'https://developerakademie.com/'">Developer Akademie GmbH</ui-link>. It has an educational
            purpose and is not intended for extensive personal & business usage. As such, we cannot guarantee consistent
            availability, reliability, accuracy, or any other aspect of quality regarding this Product.
        </p>
        <br />
        <p>
            The design of
            <ui-link [href]="'/'">Join</ui-link>
            is owned by the
            <ui-link [href]="'https://developerakademie.com/'">Developer Akademie GmbH</ui-link>. Unauthorized use,
            reproduction, modification, distribution, or replication of the design is strictly prohibited.
        </p>
    </div>
    <div class="legal-notice__rights">
        <h3 class="legal-notice__title">Proprietary Rights</h3>
        <p>
            Aside from the design owned by
            <ui-link [href]="'https://developerakademie.com/'">Developer Akademie GmbH</ui-link>, we, the listed
            students, retain all proprietary rights in <ui-link [href]="'/'">Join</ui-link>, including any associated
            copyrighted material, trademarks, and other proprietary information.
        </p>
    </div>
    <div class="legal-notice__useproduct">
        <h3 class="legal-notice__title">Use of the Product</h3>
        <p>
            <ui-link [href]="'/'">Join</ui-link>
            is intended to be used for lawful purposes only, in accordance with all applicable laws and regulations. Any
            use of
            <ui-link [href]="'/'">Join</ui-link>
            for illegal activities, or to harass, harm, threaten, or intimidate another person, is strictly prohibited.
            You are solely responsible for your interactions with other users of
            <ui-link [href]="'/'">Join</ui-link>.
        </p>
    </div>
    <div class="legal-notice__disclaimer">
        <h3 class="legal-notice__title">Disclaimer of Warranties and Limitation of Liability</h3>
        <p>
            Disclaimer of warranties and limitation of liability
            <ui-link [href]="'/'">Join</ui-link>
            is provided "as is" without warranty of any kind, whether express or implied, including but not limited to
            the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. In no
            event will we, the listed students, or the Developer Akademie, be liable for any direct, indirect,
            incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of
            profits, goodwill, use, data, or other intangible losses, even if we have been advised of the possibility of
            such damages, arising out of or in connection with the use or performance of
            <ui-link [href]="'/'">Join</ui-link>.
        </p>
    </div>

    <div class="legal-notice__indemnity">
        <h3 class="legal-notice__title">Indemnity</h3>
        <p>
            You agree to indemnify, defend, and hold harmless us, the listed students, the<ui-link
                [href]="'https://developerakademie.com/'"
                >Developer Akademie GmbH</ui-link
            >, and our affiliates, partners, officers, directors, agents, and employees, from and against any claim,
            demand, loss, damage, cost, or liability (including reasonable legal fees) arising out of or relating to
            your use of Portfolio and/or your breach of this Legal Notice.
        </p>
    </div>
    <div class="legal-notice__question">
        <p>
            For any questions or notices, please contact us at
            <ui-link [href]="'mailto:info@info.com'">info@info.de</ui-link>
        </p>
        <p>Date: April 29, 2026</p>
    </div>
</section>
