<section class="legal-notice">
    <a
        [routerLink]="'/'"
        class="legal-notice__link"
    >
        <ui-icon
            class="legal-notice__arrowback"
            name="arrow-left"
            [width]="32"
            [height]="32"
        ></ui-icon>
    </a>
    <div class="legal-notice__container">
        <div class="legal-notice__headline">
            <h1 class="legal-notice__title">Legal Notice</h1>
        </div>
        <div class="legal-notice__content">
            <div class="legal-notice__adress">
                <h3>Imprint</h3>
                <ul>
                    <li>• [Pascal Weinberg] • [Calvin Kamp]</li>
                    <li>• [Mouna Nitsche] • [Andre Funk]</li>
                    <li class="padding16px">• [Albert-schweitzer-straße 11]</li>
                    <li>• [22844 Norderstedt]</li>
                </ul>
                <h3>Exploring the Board</h3>
                <ui-link
                    [href]="'mailto:info@info.com'"
                    [label]="'info@info.de'"
                ></ui-link>
            </div>
            <div class="legal-notice__teams">
                <h3>Acceptance of Terms</h3>
                <p>
                    By accessing and using
                    <ui-link
                        [href]="'/'"
                        [label]="'Join'"
                    ></ui-link>
                    (Product), you acknowledge and agree to the following terms and conditions, and any policies,
                    guidelines, or amendments thereto that may be presented to you from time to time. We, the listed
                    students, may update or change the terms and conditions from time to time without notice.
                </p>
            </div>
            <div class="legal-notice__scope">
                <h3>Scope and Ownership of the Product</h3>
                <p>
                    <ui-link
                        [href]="'/'"
                        [label]="'Join'"
                    ></ui-link>
                    has been developed as part of a student group project in a web development bootcamp at the
                    <ui-link
                        [href]="'https://developerakademie.com/'"
                        [label]="'Developer Akademie GmbH'"
                    ></ui-link>
                    . It has an educational purpose and is not intended for extensive personal & business usage. As
                    such, we cannot guarantee consistent availability, reliability, accuracy, or any other aspect of
                    quality regarding this Product.
                </p>
                <p>
                    The design of
                    <ui-link
                        [href]="'/'"
                        [label]="'Join'"
                    ></ui-link>
                    is owned by the
                    <ui-link
                        [href]="'https://developerakademie.com/'"
                        [label]="'Developer Akademie GmbH'"
                    ></ui-link
                    >. Unauthorized use, reproduction, modification, distribution, or replication of the design is
                    strictly prohibited.
                </p>
            </div>
            <div class="legal-notice__rights">
                <h3>Proprietary Rights</h3>
                <p>
                    Aside from the design owned by
                    <ui-link
                        [href]="'https://developerakademie.com/'"
                        [label]="'Developer Akademie GmbH'"
                    ></ui-link
                    >, we, the listed students, retain all proprietary rights in
                    <ui-link
                        [href]="'/'"
                        [label]="'Join'"
                    ></ui-link
                    >, including any associated copyrighted material, trademarks, and other proprietary information.
                </p>
            </div>
            <div class="legal-notice__useproduct">
                <h3>Use of the Product</h3>
                <p>
                    <ui-link
                        [href]="'/'"
                        [label]="'Join'"
                    ></ui-link>
                    is intended to be used for lawful purposes only, in accordance with all applicable laws and
                    regulations. Any use of
                    <ui-link
                        [href]="'/'"
                        [label]="'Join'"
                    ></ui-link>
                    for illegal activities, or to harass, harm, threaten, or intimidate another person, is strictly
                    prohibited. You are solely responsible for your interactions with other users of
                    <ui-link
                        [href]="'/'"
                        [label]="'Join'"
                    ></ui-link
                    >.
                </p>
            </div>
            <div class="legal-notice__disclaimer">
                <h3>Disclaimer of Warranties and Limitation of Liability</h3>
                <p>
                    Disclaimer of warranties and limitation of liability
                    <ui-link
                        [href]="'/'"
                        [label]="'Join'"
                    ></ui-link>
                    is provided "as is" without warranty of any kind, whether express or implied, including but not
                    limited to the implied warranties of merchantability, fitness for a particular purpose, and
                    non-infringement. In no event will we, the listed students, or the Developer Akademie, be liable for
                    any direct, indirect, incidental, special, consequential or exemplary damages, including but not
                    limited to, damages for loss of profits, goodwill, use, data, or other intangible losses, even if we
                    have been advised of the possibility of such damages, arising out of or in connection with the use
                    or performance of
                    <ui-link
                        [href]="'/'"
                        [label]="'Join'"
                    ></ui-link
                    >.
                </p>
            </div>
            <div class="legal-notice__indemnity">
                <h3>Indemnity</h3>
                <p>
                    You agree to indemnify, defend, and hold harmless us, the listed students, the<ui-link
                        [href]="'https://developerakademie.com/'"
                        [label]="'Developer Akademie GmbH'"
                    ></ui-link
                    >, and our affiliates, partners, officers, directors, agents, and employees, from and against any
                    claim, demand, loss, damage, cost, or liability (including reasonable legal fees) arising out of or
                    relating to your use of Portfolio and/or your breach of this Legal Notice.
                </p>
                <div class="legal-notice__mobilenone">
                    <p class="padding16px">For any questions or notices, please contact us at</p>
                    <ui-link
                        [href]="'mailto:info@info.com'"
                        [label]="'info@info.de'"
                    ></ui-link>
                    <p>Date: April 29, 2026</p>
                </div>
            </div>
        </div>
    </div>
</section>
