@use "abstracts" as *;

:root {
    color-scheme: light;
    @include token-to-css-vars($css-var-tokens);
}

main {}

html {
    scroll-behavior: smooth;
}

body {
    padding-inline: 16px;
    background: var(--color-body-background);
    color: var(--color-text);
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    line-height: $line-height-body;
    letter-spacing: $font-letter-spacing;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-text-inverted);
}